.u-section-1 {
  background-image: url("images/7353e2f8a57a280c5f0e2fbccd305ede0def30fcc2e2c91d1bbe2b64752c2d51d8f38da11cd5638cba585bffd32a220dd62936cbf4ba6246ef3681_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Antic Didone";
  font-size: 6rem;
  margin: 254px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: "Antic Didone";
  font-size: 1.875rem;
  margin: 0 407px 0 408px;
}

.u-section-1 .u-line-1 {
  width: 25px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: -19px auto 0 383px;
}

.u-section-1 .u-line-2 {
  width: 25px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: -3px auto 60px 733px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 191px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 307px;
    margin-left: 308px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 283px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 633px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 123px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 197px;
    margin-left: 198px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 86px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -9px;
    margin-right: 107px;
    margin-left: 108px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 433px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: 7px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -12px;
    margin-right: 48px;
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    margin-left: 48px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 683px;
}

.u-section-2 .u-text-1 {
  font-family: "Open Sans";
  margin: 60px 20px 0;
}

.u-section-2 .u-gallery-1 {
  height: 364px;
  grid-gap: 17px 17px;
  margin: 52px 0 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 30px auto 0;
}

.u-section-2 .u-line-1 {
  margin-top: 73px;
  margin-bottom: 17px;
  height: 3px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 300px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-2 .u-gallery-1 {
    height: 689px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1869px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1550px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-2 .u-gallery-1 {
    height: 976px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 559px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 500px;
  height: 500px;
  min-height: 0;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 70px;
  background-image: none;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: -441px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 652px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-3 .u-shape-1 {
    width: 412px;
    height: 412px;
    margin-left: 58px;
  }

  .u-section-3 .u-image-1 {
    width: 412px;
    height: 412px;
    margin-top: -353px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-3 .u-shape-1 {
    width: 316px;
    height: 316px;
    margin-top: 104px;
    margin-bottom: 0;
    margin-left: 44px;
  }

  .u-section-3 .u-image-1 {
    width: 316px;
    height: 316px;
    margin-top: -257px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-3 .u-shape-1 {
    width: 296px;
    height: 302px;
    margin-top: 42px;
    margin-right: 162px;
    margin-left: 82px;
  }

  .u-section-3 .u-image-1 {
    width: 296px;
    height: 306px;
    margin-top: -253px;
    margin-left: 149px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-3 .u-shape-1 {
    width: 280px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-3 .u-image-1 {
    width: 280px;
    height: 295px;
    margin-top: -242px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 354px;
  }
}